Click>=8.0
dnspython>=2.0
eventlet>=0.30
Flask>=2.0
Flask-SocketIO>=5.0
itsdangerous>=2.0
Jinja2>=3.0
MarkupSafe>=2.0
monotonic>=1.6
python-engineio>=4.0
python-socketio>=5.0
six>=1.16
Werkzeug>=2.0
greenlet>=3.0
